/* Navbar Styling */

.navbar-custom {
  background-color: #012A4A; 
  height: 90px;
}

.navbar-brand {
  font-weight: bold;
  color: #A9D6E5;
}

.navbar-brand:hover {
  color: #0077b6;
}

.nav-link {
  color: #CAF0F8 !important;
  font-weight: 600;
  margin-right: 15px;
}

.nav-link:hover {
  color: #0077b6 !important;
}

/* navbar menu collapse for smaller screens */
.navbar-toggler {
  border-color: #A9D6E5;
  background-color: #A9D6E5;
  transition: all 0.3s ease;
}

.navbar-toggler:hover {
  border-color: #ffd60a;
  background-color: #ffd60a;
  transform: scale(1.02);
}

/* navbar buttons */
.donate-btn {
  background-color: #00b4d8;
  color: white;
  font-weight: bold;
}

.donate-btn:hover {
  background-color: #0077b6;
  color: #FEFAE0;
}

.login-btn {
  color: #ffd60a;
}

/* =============== */


/* Footer Styling */

.footer {
  margin-top: 100px;
  background-color: #468FAF;
  color: #012A4A;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:hover {
  text-decoration: underline;
}

.footer li {
  margin-bottom: 15px;
}

.footer-bottom {
  background-color: #34637a;
  color: white;
  font-size: 0.9rem;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.icon-input-group {
  position: relative;
}

.icon-input-group .fa-envelope {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

.icon-input-group input {
  padding-left: 2rem;
}

.social-icons i {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icons i:hover {
  color: #A9D6E5;
}

.follow-us {
  font-size: 1.5rem;
  margin-right: 20px;
  margin-bottom: 50px;
}

.sign-up-btn {
  background-color: #012A4A;
  color: #A9D6E5;
  border: none;
  width: 150px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-up-btn:hover {
  background-color: #A9D6E5;
  color: #012A4A;
  border: none;
}
/* =============== */
